.git
.github
.venv
venv
ENV
env
__pycache__
*.py[cod]
*$py.class
*.so

build
dist
*.egg-info
.eggs

.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
htmlcov
coverage.xml
.hypothesis

.idea
.vscode

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

Dockerfile
.dockerignore
