# Provably
POSTGRES_URL=postgresql://postgres:postgres@127.0.0.1:5432/provably
PROVABLY_API_KEY=zk-XXX
PROVABLY_ORG_ID=XXX
PROVABLY_RUST_BE_URL=https://api.provably.ai
PROVABLY_MCP_URL=https://mcp.provably.ai
PROVABLY_QUERY_RESOLVE_MAX_WAIT_S=30

# Docker Model Runner
LOCAL_MODEL_URL=http://localhost:12434/engines/v1/chat/completions
LOCAL_MODEL=huggingface.co/qwen/qwen3.5-0.8b-base